<h1>About</h1>
<p><strong>我的倉儲:<a href="https://github.com/40823251/cd2021">https://github.com/40823251/cd2021<br/></a></strong></p>
<p><strong>小組倉儲:<a href="https://github.com/40823251/stage1-bg1">https://github.com/40823251/stage1-bg1</a></strong></p>
<p><strong>2人小組:<br/></strong><a href="https://40823245.github.io/cd2021/content/index.html">40823245</a>、<a href="https://40823251.github.io/cd2021/content/index.html">40823251</a><br/><strong>4人小組:<br/></strong><a href="https://40823208.github.io/cd2021/content/index.html">40823208</a>、<a href="https://40823245.github.io/cd2021/content/index.html">40823245</a>、<a href="https://40823246.github.io/cd2021/content/index.html">40823246</a>、<a href="https://40823251.github.io/cd2021/content/index.html">40823251</a><br/><strong>8人小組:<br/></strong><a href="https://40823208.github.io/cd2021/content/index.html">40823208</a>、<a href="https://40823213.github.io/cd2021/content/index.html">40823213</a>、<a href="https://40823232.github.io/cd2021/content/index.html">40823232</a>、<a href="https://40823234.github.io/cd2021/content/index.html">40823234</a>、<a href="https://40823235.github.io/cd2021/content/index.html">40823235</a>、<a href="https://40823245.github.io/cd2021/content/index.html">40823245</a>、<a href="https://40823246.github.io/cd2021/content/index.html">40823246</a>、<a href="https://40823251.github.io/cd2021/content/index.html">40823251</a></p>
<h1>個人作業</h1>
<p>此處為個人平時推送作業及小組分工作業</p>
<h2>W1 新增LEO</h2>
<p><strong>1.進到tmp/cd2021/.git/config裡找到pelican.leo</strong><br/><img alt="" height="300" src="/images/1614576616115.jpg" width="500"/><br/><strong>2.照老師第4部影片新增及修改此處內容<br/><img alt="" height="300" src="/images/1614576735691.jpg" width="500"/><br/>3.到遠端下的edit中修改此處為自己學號</strong></p>
<p><strong><img alt="" height="300" src="/images/1614576785162.jpg" width="500"/><br/>4.點選此處案右鍵第二個選項完成推送並照指令碼完成合併</strong></p>
<p><strong><img alt="" height="300" src="/images/1614576827991.jpg" width="500"/></strong></p>
<h2>W2 繪製圖檔</h2>
<p><strong>小組分工為繪製圖檔</strong></p>
<p><strong>繪製人員:40823251林進益</strong></p>
<p><strong>3/6初次草稿圖檔<br/><a href="/downloads/掃地機器人.zip">掃地機器人.zip</a><br/></strong></p>
<p><strong>遇到的問題:<br/>1.輪子尺寸不符<br/>2.坐標系與前輪不符<br/></strong></p>
<p><strong>3/7修正圖檔<br/><a href="/downloads/stl改.zip">掃地機器人-2.zip</a><br/></strong></p>
<h2>W3 程式模擬</h2>
<p><strong>第一次測試<br/>圖檔:<a href="/downloads/掃地機器人0306.zip">掃地機器人0306.zip</a></strong><strong><br/></strong><strong><img alt="" height="400" src="/images/First-ver.gif" width="600"/></strong></p>
<p><strong>修改內容:<br/>由於下方前處無支撐，故無法正常行走。<br/></strong></p>
<p><strong>第二次測試</strong></p>
<p><strong>圖檔:<a href="/downloads/掃地機器人-2.zip">掃地機器人-2.zip</a><br/><img alt="" height="400" src="/images/Second-ver.gif" width="600"/><br/></strong></p>
<p><strong>修正內容:</strong></p>
<p><strong>由於加入圓球導致行走方向不正確，故須修正。</strong></p>
<h2>W4 報告分工</h2>
<p>本人組員所分配到的工作為pdf簡報製作及影片的心得報告<br/><br/>PDF:<br/><a href="/downloads/2021-協同產品設計實習-stage1-bg1.pdf">2021-協同產品設計實習-stage1-bg1.pdf</a></p>
<p>個人報告影片  2021/3/14<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/DR5yl4fpzio" width="400"></iframe></p>
<p><strong>小組上台報告  2021/3/19<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/pBrGGNypya4" width="400"></iframe><br/></strong></p>
<p><strong><a href="/downloads/stl改.zip">stl</a>  <a href="/downloads/Sweeping robot-4.zip">ttt</a></strong></p>
<h3>影片程式</h3>
<p>1.到老師w4將兩個程式抓下來<br/><img alt="" height="400" src="/images/1616683048458.jpg" width="300"/><img alt="" height="400" src="/images/1616683062774.jpg" width="300"/></p>
<p><strong>記得要將組別修改成2b</strong></p>
<p>2.打開小黑窗輸入pip install moviepy</p>
<p><br/><img alt="" height="300" src="/images/1616683090427.jpg" width="600"/></p>
<p>3.打開白窗，執行tool go</p>
<p><img alt="" height="600" src="/images/1616686414572.jpg" width="400"/></p>
<p><strong>協助解決問題人員:40823208</strong></p>
<h2>W5 stage2討論</h2>
<p><strong>目的:</strong><br/>產生與討論新的主題</p>
<p>討論過程:          2021/3/26<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/n9quvgd7Ucw" width="400"></iframe></p>
<p>主題修正:堆高機<br/><strong>修正原因:無法克服干涉問題。</strong></p>
<p>討論過程:         2021/4/8<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/857-NWTkilc" width="400"></iframe></p>
<h2>W6 主題修正</h2>
<p><strong>檔案</strong>:<a href="/downloads/轉子引擎stl.zip">轉子引擎STL.zip</a></p>
<p><strong>原理</strong>:     2021/4/4<br/>透過中間三角形對軸進行滾動，對邊蓋進行滑動運動。<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/XneOB3O8jC4" width="400"></iframe><br/><strong>目前所遇狀況</strong>:會與邊界產生干涉<br/><img alt="" height="400" src="/images/1617435035588.gif" width="300"/></p>
<p><strong>狀況:由於目前模擬有干涉導致無法正常運作，故退回w5做第二次主題討論。</strong></p>
<h2>W7 stage2圖檔</h2>
<p><strong>第一版  2021/04/12<br/><a href="/downloads/stl.zip">堆高機圖檔.zip</a><br/></strong></p>
<p><strong>第二版  2021/04/14<br/><a href="/downloads/car-3.zip">堆高機圖檔2.zip</a><br/></strong></p>
<p><strong>第三版  2021/04/15<br/><a href="/downloads/第三次.zip">堆高機圖檔3.zip</a><br/></strong></p>
<h2>W8 程式模擬</h2>
<p>4/15 測試內容:<br/><strong>新增鏡頭<br/>測試ttt檔:<a href="/downloads/鏡頭測試.zip">鏡頭測試.zip</a></strong></p>
<p><strong>4/16 鏡頭演示<br/><img alt="" height="300" src="/images/Stacker-1.gif" width="400"/><br/></strong></p>
<p>其他模擬成果請至小組討論分頁-w8統整檔案觀看</p>
<h2>W9 期中作業</h2>
<p><strong>負責工作:PDF檔撰寫      撰寫者:40823251</strong></p>
<p><iframe height="550" src="https://drive.google.com/file/d/155NzbBy8JOcuIi4EdNu0ZAJY_qmTAKKp/preview?usp=sharing" width="1000"></iframe></p>
<p><strong>報告影片:<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/6c_geSx4c0w" width="400"></iframe><br/></strong></p>
<p><strong><a href="/downloads/最終版.zip">stl</a>   <a href="/downloads/Stacker-6.zip">ttt</a></strong></p>
<h2>W10 個人task</h2>
<h3>連接ipv4</h3>
<p><strong>測試組員:40823251</strong></p>
<p><strong>目的:複習及完成上課未完成連接ipv4之方法。<br/></strong></p>
<p><strong>步驟1.至網路/點選變更介面卡/找到目前已連線的網路按內容</strong></p>
<p><strong>步驟2.選擇ipv4點選自用網址</strong></p>
<p><strong>步驟3.輸入自己的編號連線<br/><img alt="" height="400" src="/images/1620129195212.jpg" width="500"/><br/>步驟4.開啟黑窗輸入</strong></p>
<pre class="brush:html;auto-links:false;toolbar:false" contenteditable="false">python -m http.server 8000 --bind 192.168.192.自己編號</pre>
<p><strong><img alt="" height="400" src="/images/1620129233865.jpg" width="700"/><br/><br/>步驟5.到網路上輸入192.168.192.自己編號:8000 查看是否成功<br/><img alt="" height="400" src="/images/1620129339901.jpg" width="500"/><br/>步驟6.開啟coppeliasim找到ttt檔和用白窗開啟程式<br/></strong></p>
<p><b>步驟7.修改192.168.192.自己編號及名稱(學號)<br/><img alt="" height="500" src="/images/1620129271405.jpg" width="800"/><br/></b></p>
<p><b>步驟8.查看是否成功<br/><img alt="" height="500" src="/images/1620129289024.jpg" width="700"/><br/></b></p>
<p><b>過程影片<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/ZfsVqRFf2gI" width="400"></iframe><br/></b></p>
<h3>task1</h3>
<p><strong>指導人員:40823245 (組長)</strong></p>
<p><b>由於本人為教導對象，故如過程有問題或不懂可參考40823245之介紹<br/><a href="https://40823245.github.io/cd2021/content/W10.html">https://40823245.github.io/cd2021/content/W10.html</a><br/></b></p>
<p><strong>步驟1.到<a href="/downloads/stage3_2b.txt">stage3_2b.txt</a>抓下txt檔儲存。<br/></strong></p>
<p><strong>2.將以下程式存至與txt檔同目錄下<br/></strong></p>
<pre class="brush:html;auto-links:false;toolbar:false" contenteditable="false">def stu2b(account):
    if account == "40823231":
        return account + "-2"
    elif account[0:3] == "407":
        return "s" + account
    else:
        return account
 
teamb = []
 
# open file, default is read mode, since txt content no chinese char
# no encoding = "UTF-8" is needed
with open("stage3_2b.txt") as fh:
    # readlines will read into the whole line and put into list format
    # has \n at the end of each line
    data = fh.readlines()
#print(len(data))
for i in range(len(data)):
    group = data[i].rstrip("\n").split("\t")
    teamb.append(group)
     
output = ""    
seperator = "-"*10 + "&lt;br /&gt;"
 
for i in teamb[0:]:
    team = i[0]
    leader = stu2b(i[1])
    m1 = stu2b(i[3])
    m2 = stu2b(i[5])
    m3 = stu2b(i[7])
    m4 = stu2b(i[9])
    m5 = stu2b(i[11])
    m6 = stu2b(i[13])
     
    try:
        m7 = stu2b(i[15])
    except:
        m7 = ""
    try:
        m8 = stu2b(i[17])
    except:
        m8 = ""
         
    leaderrepo = "&lt;a href='http://github.com/" + leader + "/cd2021'&gt;" + leader + " repo&lt;/a&gt;"
    leadersite = "&lt;a href='http://" + leader + ".github.io/cd2021'&gt;" + leader +  " site&lt;/a&gt;"
    m1repo = "&lt;a href='http://github.com/" + m1 + "/cd2021'&gt;" + m1 + " repo&lt;/a&gt;"
    m1site = "&lt;a href='http://" + m1 + ".github.io/cd2021'&gt;" + m1 +  " site&lt;/a&gt;"
    m2repo = "&lt;a href='http://github.com/" + m2 + "/cd2021'&gt;" + m2 + " repo&lt;/a&gt;"
    m2site = "&lt;a href='http://" + m2 + ".github.io/cd2021'&gt;" + m2 +  " site&lt;/a&gt;"
    m3repo = "&lt;a href='http://github.com/" + m3 + "/cd2021'&gt;" + m3 + " repo&lt;/a&gt;"
    m3site = "&lt;a href='http://" + m3 + ".github.io/cd2021'&gt;" + m3 +  " site&lt;/a&gt;"
    m4repo = "&lt;a href='http://github.com/" + m4 + "/cd2021'&gt;" + m4 + " repo&lt;/a&gt;"
    m4site = "&lt;a href='http://" + m4 + ".github.io/cd2021'&gt;" + m4 +  " site&lt;/a&gt;"
    m5repo = "&lt;a href='http://github.com/" + m5 + "/cd2021'&gt;" + m5 + " repo&lt;/a&gt;"
    m5site = "&lt;a href='http://" + m5 + ".github.io/cd2021'&gt;" + m5 +  " site&lt;/a&gt;"
    m6repo = "&lt;a href='http://github.com/" + m6 + "/cd2021'&gt;" + m6 + " repo&lt;/a&gt;"
    m6site = "&lt;a href='http://" + m6 + ".github.io/cd2021'&gt;" + m6 +  " site&lt;/a&gt;"
  
 
    teamrepo = "&lt;a href='http://github.com/" + leader + "/" + team + "'&gt;" + team + " repo&lt;/a&gt;"
    teamsite =  "&lt;a href='http://" + m1 + ".github.io/" + team + "'&gt;" + team +  " site&lt;/a&gt;"
 
    output += teamrepo + " | " + teamsite + " | " +leaderrepo + " | " + leadersite + " | " +m1repo + " | " + m1site + " | " +m2repo + " | " + m2site + " | " +m3repo + " | " + m3site + " | " +m4repo + " | " + m4site + " | " +m5repo + " | " + m5site + " | " +m6repo + " | " + m6site 
     
    if m7 != "":
       m7repo = "&lt;a href='http://github.com/" + m7 + "/cd2021'&gt;" + m7 + " repo&lt;/a&gt;"
       m7site = "&lt;a href='http://" + m7 + ".github.io/cd2021'&gt;" + m7 +  " site&lt;/a&gt;"   
       output += " |  " + m7repo + "| " + m7site
    else:
        output += "" 
     
    if m8 != "":
       m8repo = "&lt;a href='http://github.com/" + m8 + "/cd2021'&gt;" + m8 + " repo&lt;/a&gt;"
       m8site = "&lt;a href='http://" + m8 + ".github.io/cd2021'&gt;" + m8 +  " site&lt;/a&gt;"   
       output += " |  " + m8repo + "| " + m8site + "&lt;br /&gt;" + seperator
    else:
        output += "&lt;br /&gt;" + seperator
 
 
print(output)
# the following will use group data to generate needed html</pre>
<p><strong><br/><br/></strong></p>
<p><strong>3.點選tools-go則可產生網址<br/><img alt="" height="300" src="/images/1620125666924.jpg" width="500"/><br/>4.將網址貼上可得以下內容</strong></p>
<p><a href="http://github.com/40823245/stage3-bg1">stage3-bg1 repo</a> | <a href="http://40823251.github.io/stage3-bg1">stage3-bg1 site</a> | <a href="http://github.com/40823245/cd2021">40823245 repo</a> | <a href="http://40823245.github.io/cd2021">40823245 site</a> | <a href="http://github.com/40823251/cd2021">40823251 repo</a> | <a href="http://40823251.github.io/cd2021">40823251 site</a> | <a href="http://github.com/40823208/cd2021">40823208 repo</a> | <a href="http://40823208.github.io/cd2021">40823208 site</a> | <a href="http://github.com/40823213/cd2021">40823213 repo</a> | <a href="http://40823213.github.io/cd2021">40823213 site</a> | <a href="http://github.com/40823232/cd2021">40823232 repo</a> | <a href="http://40823232.github.io/cd2021">40823232 site</a> | <a href="http://github.com/40823234/cd2021">40823234 repo</a> | <a href="http://40823234.github.io/cd2021">40823234 site</a> | <a href="http://github.com/40823235/cd2021">40823235 repo</a> | <a href="http://40823235.github.io/cd2021">40823235 site</a> | <a href="http://github.com/40823246/cd2021">40823246 repo</a>| <a href="http://40823246.github.io/cd2021">40823246 site</a><br/>----------<br/><a href="http://github.com/40823217/stage3-bg2">stage3-bg2 repo</a> | <a href="http://40823201.github.io/stage3-bg2">stage3-bg2 site</a> | <a href="http://github.com/40823217/cd2021">40823217 repo</a> | <a href="http://40823217.github.io/cd2021">40823217 site</a> | <a href="http://github.com/40823201/cd2021">40823201 repo</a> | <a href="http://40823201.github.io/cd2021">40823201 site</a> | <a href="http://github.com/40823209/cd2021">40823209 repo</a> | <a href="http://40823209.github.io/cd2021">40823209 site</a> | <a href="http://github.com/40823210/cd2021">40823210 repo</a> | <a href="http://40823210.github.io/cd2021">40823210 site</a> | <a href="http://github.com/40823206/cd2021">40823206 repo</a> | <a href="http://40823206.github.io/cd2021">40823206 site</a> | <a href="http://github.com/40823207/cd2021">40823207 repo</a> | <a href="http://40823207.github.io/cd2021">40823207 site</a> | <a href="http://github.com/40823223/cd2021">40823223 repo</a> | <a href="http://40823223.github.io/cd2021">40823223 site</a> | <a href="http://github.com/40823224/cd2021">40823224 repo</a>| <a href="http://40823224.github.io/cd2021">40823224 site</a><br/>----------<br/><a href="http://github.com/40823236/stage3-bg3">stage3-bg3 repo</a> | <a href="http://40823202.github.io/stage3-bg3">stage3-bg3 site</a> | <a href="http://github.com/40823236/cd2021">40823236 repo</a> | <a href="http://40823236.github.io/cd2021">40823236 site</a> | <a href="http://github.com/40823202/cd2021">40823202 repo</a> | <a href="http://40823202.github.io/cd2021">40823202 site</a> | <a href="http://github.com/40823203/cd2021">40823203 repo</a> | <a href="http://40823203.github.io/cd2021">40823203 site</a> | <a href="http://github.com/40823212/cd2021">40823212 repo</a> | <a href="http://40823212.github.io/cd2021">40823212 site</a> | <a href="http://github.com/40823219/cd2021">40823219 repo</a> | <a href="http://40823219.github.io/cd2021">40823219 site</a> | <a href="http://github.com/40823222/cd2021">40823222 repo</a> | <a href="http://40823222.github.io/cd2021">40823222 site</a> | <a href="http://github.com/40823231-2/cd2021">40823231-2 repo</a> | <a href="http://40823231-2.github.io/cd2021">40823231-2 site</a> | <a href="http://github.com/40823244/cd2021">40823244 repo</a>| <a href="http://40823244.github.io/cd2021">40823244 site</a><br/>----------<br/><a href="http://github.com/40823239/stage3-bg4">stage3-bg4 repo</a> | <a href="http://s40723140.github.io/stage3-bg4">stage3-bg4 site</a> | <a href="http://github.com/40823239/cd2021">40823239 repo</a> | <a href="http://40823239.github.io/cd2021">40823239 site</a> | <a href="http://github.com/s40723140/cd2021">s40723140 repo</a> | <a href="http://s40723140.github.io/cd2021">s40723140 site</a> | <a href="http://github.com/s40723128/cd2021">s40723128 repo</a> | <a href="http://s40723128.github.io/cd2021">s40723128 site</a> | <a href="http://github.com/s40723139/cd2021">s40723139 repo</a> | <a href="http://s40723139.github.io/cd2021">s40723139 site</a> | <a href="http://github.com/s40723106/cd2021">s40723106 repo</a> | <a href="http://s40723106.github.io/cd2021">s40723106 site</a> | <a href="http://github.com/s40723135/cd2021">s40723135 repo</a> | <a href="http://s40723135.github.io/cd2021">s40723135 site</a> | <a href="http://github.com/s40723143/cd2021">s40723143 repo</a> | <a href="http://s40723143.github.io/cd2021">s40723143 site</a> | <a href="http://github.com/s40723215/cd2021">s40723215 repo</a>| <a href="http://s40723215.github.io/cd2021">s40723215 site</a><br/>----------<br/><a href="http://github.com/40823221/stage3-bg5">stage3-bg5 repo</a> | <a href="http://40823204.github.io/stage3-bg5">stage3-bg5 site</a> | <a href="http://github.com/40823221/cd2021">40823221 repo</a> | <a href="http://40823221.github.io/cd2021">40823221 site</a> | <a href="http://github.com/40823204/cd2021">40823204 repo</a> | <a href="http://40823204.github.io/cd2021">40823204 site</a> | <a href="http://github.com/40823205/cd2021">40823205 repo</a> | <a href="http://40823205.github.io/cd2021">40823205 site</a> | <a href="http://github.com/40823220/cd2021">40823220 repo</a> | <a href="http://40823220.github.io/cd2021">40823220 site</a> | <a href="http://github.com/40823228/cd2021">40823228 repo</a> | <a href="http://40823228.github.io/cd2021">40823228 site</a> | <a href="http://github.com/40823237/cd2021">40823237 repo</a> | <a href="http://40823237.github.io/cd2021">40823237 site</a> | <a href="http://github.com/40823242/cd2021">40823242 repo</a> | <a href="http://40823242.github.io/cd2021">40823242 site</a> | <a href="http://github.com/40823250/cd2021">40823250 repo</a>| <a href="http://40823250.github.io/cd2021">40823250 site</a> | <a href="http://github.com/40832244/cd2021">40832244 repo</a>| <a href="http://40832244.github.io/cd2021">40832244 site</a><br/>----------<br/><a href="http://github.com/40823225/stage3-bg6">stage3-bg6 repo</a> | <a href="http://40823214.github.io/stage3-bg6">stage3-bg6 site</a> | <a href="http://github.com/40823225/cd2021">40823225 repo</a> | <a href="http://40823225.github.io/cd2021">40823225 site</a> | <a href="http://github.com/40823214/cd2021">40823214 repo</a> | <a href="http://40823214.github.io/cd2021">40823214 site</a> | <a href="http://github.com/40823218/cd2021">40823218 repo</a> | <a href="http://40823218.github.io/cd2021">40823218 site</a> | <a href="http://github.com/40823211/cd2021">40823211 repo</a> | <a href="http://40823211.github.io/cd2021">40823211 site</a> | <a href="http://github.com/40823248/cd2021">40823248 repo</a> | <a href="http://40823248.github.io/cd2021">40823248 site</a> | <a href="http://github.com/40823247/cd2021">40823247 repo</a> | <a href="http://40823247.github.io/cd2021">40823247 site</a> | <a href="http://github.com/40823216/cd2021">40823216 repo</a> | <a href="http://40823216.github.io/cd2021">40823216 site</a> | <a href="http://github.com/40823238/cd2021">40823238 repo</a>| <a href="http://40823238.github.io/cd2021">40823238 site</a><br/>----------<br/><a href="http://github.com/40623144/stage3-bg7">stage3-bg7 repo</a> | <a href="http://40823233.github.io/stage3-bg7">stage3-bg7 site</a> | <a href="http://github.com/40623144/cd2021">40623144 repo</a> | <a href="http://40623144.github.io/cd2021">40623144 site</a> | <a href="http://github.com/40823233/cd2021">40823233 repo</a> | <a href="http://40823233.github.io/cd2021">40823233 site</a> | <a href="http://github.com/s40723224/cd2021">s40723224 repo</a> | <a href="http://s40723224.github.io/cd2021">s40723224 site</a> | <a href="http://github.com/40823241/cd2021">40823241 repo</a> | <a href="http://40823241.github.io/cd2021">40823241 site</a> | <a href="http://github.com/40423155/cd2021">40423155 repo</a> | <a href="http://40423155.github.io/cd2021">40423155 site</a> | <a href="http://github.com/40823227/cd2021">40823227 repo</a> | <a href="http://40823227.github.io/cd2021">40823227 site</a> | <a href="http://github.com/s40723233/cd2021">s40723233 repo</a> | <a href="http://s40723233.github.io/cd2021">s40723233 site</a></p>
<p>影片過程<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/6H4yrG4Wmuw" width="400"></iframe></p>
<h3>task2</h3>
<p><strong>執行任務人員為:40823245</strong><br/><strong>本人task2為透過小組協同網頁下載py檔和請教40823245已完成此任務。</strong></p>
<p><strong>第一版<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/uOUmFJpRCbM" width="400"></iframe><br/>說明:先將基本的程式對應到掃地機器人的軸，已達成可運作效果。</strong></p>
<pre class="brush:py;auto-links:false;toolbar:false" contenteditable="false">import sim as vrep

clientID = vrep.simxStart('192.168.192.112', 19997, True, True, 5000, 5)
 
if clientID != -1:
    print ('Connected to remote API server')
 
    res = vrep.simxAddStatusbarMessage(
        clientID, "text",
        vrep.simx_opmode_oneshot)
    if res not in (vrep.simx_return_ok, vrep.simx_return_novalue_flag):
        print("Could not add a message to the status bar.")
else:
       print ('Failed connecting to remote API server')

class VrepLineFollower:
  def __init__(self):
    vrep.simxFinish(-1) # just in case, close all opened connections
    self.clientID = vrep.simxStart('192.168.192.112', 19997, True, True, 5000, 5)
    vrep.simxStartSimulation(self.clientID, vrep.simx_opmode_oneshot)
    
    self.wheelRadius = 0.027
    self.linearVelocityLeft  = 0.1
    self.linearVelocityRight = 0.1
    
    # vectors [left, right]
    self.direction_v = {
     'up':    [ 0.01,  0.01],
     'down':  [-0.01, -0.01],
     'left':  [-0.01,  0.01],
     'right': [ 0.01, -0.01]
    }

    res, self.leftJointDynamic  = vrep.simxGetObjectHandle(self.clientID, "LBMotor",  vrep.simx_opmode_oneshot_wait)
    res, self.rightJointDynamic = vrep.simxGetObjectHandle(self.clientID, "RBMotor", vrep.simx_opmode_oneshot_wait)

  # direction = 'up' | 'down' | 'left' | 'right'
  def to_direction(self, direction):
        direction_vector = self.direction_v[direction]
        self.linearVelocityLeft  += direction_vector[0]
        self.linearVelocityRight += direction_vector[1]
        self.set_motors()

  # private
  def set_motors(self):
        t_left  = self.linearVelocityLeft  / self.wheelRadius
        t_right = self.linearVelocityRight / self.wheelRadius
        vrep.simxSetJointTargetVelocity(self.clientID, self.leftJointDynamic,  t_left,  vrep.simx_opmode_oneshot_wait)
        vrep.simxSetJointTargetVelocity(self.clientID, self.rightJointDynamic, t_right, vrep.simx_opmode_oneshot_wait)</pre>
<p><strong></strong><strong>第二版<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/FrZMkLvnXXA" width="400"></iframe><br/>說明:利用api控制。<br/></strong></p>
<pre class="brush:py;auto-links:false;toolbar:false" contenteditable="false">import sim as vrep

clientID = vrep.simxStart('192.168.192.112', 19997, True, True, 5000, 5)
 
if clientID != -1:
    print ('Connected to remote API server')
 
    res = vrep.simxAddStatusbarMessage(
        clientID, "text",
        vrep.simx_opmode_oneshot)
    if res not in (vrep.simx_return_ok, vrep.simx_return_novalue_flag):
        print("Could not add a message to the status bar.")
else:
       print ('Failed connecting to remote API server')

class VrepLineFollower:
  def __init__(self):
    vrep.simxFinish(-1) # just in case, close all opened connections
    self.clientID = vrep.simxStart('192.168.192.112', 19997, True, True, 5000, 5)
    vrep.simxStartSimulation(self.clientID, vrep.simx_opmode_oneshot)
    
    self.wheelRadius = 0.027
    self.linearVelocityLeft  = 0.1
    self.linearVelocityRight = 0.1
    
    # vectors [left, right]
    self.direction_v = {
     'up':    [ 0.01,  0.01],
     'down':  [-0.01, -0.01],
     'left':  [-0.01,  0.01],
     'right': [ 0.01, -0.01]
    }

    res, self.leftJointDynamic  = vrep.simxGetObjectHandle(self.clientID, "LBMotor",  vrep.simx_opmode_oneshot_wait)
    res, self.rightJointDynamic = vrep.simxGetObjectHandle(self.clientID, "RBMotor", vrep.simx_opmode_oneshot_wait)

  # direction = 'up' | 'down' | 'left' | 'right'
  def to_direction(self, direction):
        direction_vector = self.direction_v[direction]
        self.linearVelocityLeft  += direction_vector[0]
        self.linearVelocityRight += direction_vector[1]
        self.set_motors()

  # private
  def set_motors(self):
        t_left  = self.linearVelocityLeft  / self.wheelRadius
        t_right = self.linearVelocityRight / self.wheelRadius
        vrep.simxSetJointTargetVelocity(self.clientID, self.leftJointDynamic,  t_left,  vrep.simx_opmode_oneshot_wait)
        vrep.simxSetJointTargetVelocity(self.clientID, self.rightJointDynamic, t_right, vrep.simx_opmode_oneshot_wait)
</pre>
<p><strong><br/><br/></strong></p>
<h2>W11 個人OBS直播</h2>
<p>測試人員:40823251</p>
<p><strong>步驟一:<br/>點選顯示器擷取點選需要的視窗即可錄製全螢幕。<br/><img alt="" height="400" src="/images/1620829156474.jpg" width="600"/><br/></strong></p>
<p><strong>步驟二:<br/>點擊右方開始串流且youtube點選直播即可完成。 備註:youtube第一次直播需等待24H<br/>如需備份可同時點選下方的開始錄製或者至YOUTUBE下載直播檔。<br/><img alt="" height="400" src="/images/1620829644531.jpg" width="600"/><br/></strong></p>
<p><strong>問題:<br/>(1.)錄製現場聲音過於吵雜。</strong></p>
<p><strong>解決辦法:點選音訊源，點擊濾鏡。<br/><img alt="" height="400" src="/images/1620829938158.jpg" width="600"/><br/>選擇雜訊抑制即可有效改善錄音現況。<br/><img alt="" height="400" src="/images/1620829997892.jpg" width="600"/><br/></strong></p>
<p><strong>(2.)顯示器擷取是黑屏<br/>參考資料:<a href="https://russquan.gitlab.io/obs-black-screen-fix-win10/">https://russquan.gitlab.io/obs-black-screen-fix-win10/</a></strong></p>
<h2>W12 個人直播</h2>
<p><strong>日期:2021/05/14</strong></p>
<p><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/tY4AV3i3Ano" width="400"></iframe></p><h2>W13 個人gitlab</h2>
<h1>小組討論</h1>
<p>與組長或其他組員討論及修改的分支。</p>
<h2>W1 影片討論</h2>
<p><strong>2021/3/1 W1討論之影片</strong></p>
<p><strong>1.分組專題討論</strong></p>
<p><strong>2.更有效率的分組表單問題</strong></p>
<p><strong>3.課堂影片之問題討論</strong><br/><iframe allowfullscreen="allowfullscreen" height="400" src="//www.youtube.com/embed/S-rQSJE5jiU" width="600"></iframe></p>
<h2>W2 小組繪圖</h2>
<p><strong>主體:掃地機器人</strong><br/><strong>動機:<br/></strong><strong>利用自動化機械結構來滿足靠人力打掃家中的需求，並實現節省時間及勞力的願景。<br/></strong></p>
<p><strong>繪製組員:40823251林進益<br/>程式模擬:40823245林浩瑋</strong></p>
<p><strong>3/6零件圖檔<br/><a href="/downloads/掃地機器人.zip">掃地機器人.zip</a><br/></strong></p>
<p><strong>修正內容:</strong></p>
<p><strong></strong></p>
<p><strong>影片介紹:<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/4XFIdfoTkCs" width="400"></iframe><br/></strong></p>
<p><strong>參考資料:<br/></strong>1.<strong><a href="https://i.epochtimes.com/assets/uploads/2019/05/sweep-robot_292501286-600x400.jpg">https://i.epochtimes.com/assets/uploads/2019/05/sweep-robot_292501286-600x400.jpg</a></strong><strong><a href="https://i.epochtimes.com/assets/uploads/2019/05/sweep-robot_292501286-600x400.jpg"><br/></a></strong>2.<strong><a href="https://i.epochtimes.com/assets/uploads/2019/05/sweep-robot_292501286-600x400.jpg">https://i1.kknews.cc/SIG=3fkkqlh/47120001r47oqr0p4p5q.jpg</a></strong></p>
<p></p>
<h2>W3 小組模擬</h2>
<p><strong>正常版本0307</strong></p>
<p><b>圖檔:<a href="/downloads/掃地機器人0307-3.zip">掃地機器人0307-3.zip</a></b></p>
<p><b><img alt="" height="400" src="/images/Fourth-ver.gif" width="600"/></b></p>
<p><b>修正問題:由於產品運行稍有不穩定，故依需改良。</b></p>
<p><b>小組討論內容:<br/>此次修正內容須不斷更新問題與修正圖檔，因此使用line作為小組討論媒介<br/><iframe allowfullscreen="allowfullscreen" height="600" src="//www.youtube.com/embed/LHSTl_hXBp0" width="400"></iframe><br/></b></p>
<h2>W4 小組報告</h2>
<p><strong>主題:掃地機器人<br/></strong></p>
<p><strong>分工:<br/>40823245-REVEAL製作、合併網站、報告影片<br/>40823251-PDF檔製作、提交請求、報告影片<br/></strong></p>
<p><b>作業區:<br/>1.PDF:<a href="/downloads/2021-協同產品設計實習-stage1-bg1.pdf">2021-協同產品設計實習-stage1-bg1.pdf</a><br/>2.Youtube報告影片:<br/>  </b> (1)40823245報告版本<br/>    <iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/xH-MHBrp4ME" width="400"></iframe><br/><b> </b>  (2)40823251<span>報告版本</span><br/><b>    <iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/DR5yl4fpzio" width="400"></iframe><br/>3.reveal:呈現在小組倉儲<br/><br/></b></p>
<p><b>小組上台報告  2021/3/19<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/pBrGGNypya4" width="400"></iframe><br/></b></p>
<p><b>測試:<br/>將每一組脂率至影片時間做紀錄<br/>(人工) 第一組:7:14</b></p>
<p><b><a href="/downloads/stl改.zip">stl</a>   <a href="/downloads/Sweeping robot-4.zip">ttt</a></b></p>
<h3>影片時間</h3>
<p><strong>40823251版本:</strong><br/>1.到老師w4將兩個程式抓下來<br/><img alt="" height="400" src="/images/1616683048458.jpg" width="300"/><img alt="" height="400" src="/images/1616683062774.jpg" width="300"/></p>
<p><strong>記得要將組別修改成2b</strong></p>
<p>2.打開小黑窗輸入pip install moviepy</p>
<p><br/><img alt="" height="300" src="/images/1616683090427.jpg" width="600"/></p>
<p>3.打開白窗，執行tool go</p>
<p><img alt="" height="600" src="/images/1616686414572.jpg" width="400"/></p>
<p><strong>協助解決問題人員:40823208</strong></p>
<h2>W5 stage2分工</h2>
<p><strong>2021/03/26討論內容</strong></p>
<p>主題:內燃機<br/>分工:<br/>(1)繪圖:40823246<br/>(2)網頁編輯:40823208、40823251<br/>(3)模擬:40823245</p>
<p><strong>更:<br/>2021/04/08討論內容</strong></p>
<p><strong>主題:堆高機</strong><br/><strong>分工:</strong><br/><strong>(1)繪圖:40823246</strong><br/><strong>(2)網頁編輯:40823208、40823251</strong><br/><strong>(3)模擬:40823245</strong></p>
<h2>W6 修正討論</h2>
<p><strong>版本一    4/4<br/>圖檔:<a href="/downloads/轉子引擎stl.zip">轉子引擎stl.zip</a><br/>作動動畫:<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/XneOB3O8jC4" width="400"></iframe><br/>程式模擬:<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/Z4Z1e7Un174" width="400"></iframe><br/>遇到問題:<br/>三角形尖端與邊界發生碰撞，導致無法進行滑動。<br/><br/></strong></p>
<p><strong>版本二     4/5<br/></strong><strong>修正內容:<br/></strong><strong>重新計算尖點數值，將三角形尖端消除，改由圓角區動。<br/>圖檔:<a href="/downloads/轉子引擎STL2.zip">轉子引擎stl2.zip</a><br/>程式模擬:<br/><img alt="" height="400" src="/images/1617435035588.gif" width="300"/><br/>遇到問題:<br/>內部可使軸滾動，但問題依舊存在<br/><br/></strong></p>
<p><strong>版本三     4/7<br/><strong>修正內容:<br/></strong><strong>修正微小數據及模擬方式。<br/>圖檔:<a href="/downloads/轉子引擎STL3.zip">轉子引擎stl3.zip</a><br/>程式模擬:<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/-_702yip-ag" width="400"></iframe><br/>問題依舊無法解決，需修改內容。</strong></strong></p>
<p><strong><strong>討論影片放置於個人影片區</strong></strong></p>
<h2>W7 小組圖檔和模擬</h2>
<p><strong>第一版   2021/04/12<br/>繪製人員:40823246<br/>零件檔:<a href="/downloads/stl.zip">堆高機.zip</a></strong></p>
<p><strong>初次模擬<br/><img alt="" height="300" src="/images/2021-04-13_23-31-44.gif" width="400"/><br/>問題:由於輪子底部連趕設計導致產生迴轉現象</strong></p>
<p><strong>第二版   2021/04/14<br/>繪製人員:40823246<br/>零件檔:<a href="/downloads/car-3.zip">堆高機2.zip</a></strong></p>
<p><strong>模擬<br/><img alt="" height="300" src="/images/2021-04-13_21-20-06.gif" width="400"/><br/>問題:可移動但前方提桿做動錯誤。</strong></p>
<p><strong><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/MEm09oC4-Go" width="400"></iframe></strong></p>
<p><strong>第三版   2021/04/15<br/>零件檔:<a href="/downloads/第三次.zip">堆高機3.zip</a></strong></p>
<h2>W8 統整檔案</h2>
<p>日期:2021/04/12   繪製人員:40823246<br/>第一版圖檔:<strong><a href="/downloads/stl.zip">堆高機原型版.zip<br/></a></strong></p>
<p><strong><img alt="" height="300" src="/images/2021-04-13_23-31-44.gif" width="400"/><br/>問題:</strong>輪子轉彎機構不良</p>
<p><span>日期:2021/04/14   <strong>修正內容:改由後輪驅動</strong><br/>第二版圖檔:<strong><a href="/downloads/car-3.zip">堆高機可前行版.zip</a></strong></span></p>
<p><span><strong><img alt="" height="300" src="/images/2021-04-13_21-20-06.gif" width="400"/><br/>問題:</strong>可前行但前方抬升桿有狀況</span></p>
<p><span>日期:2021/04/14   <strong>修正內容:抬升桿模擬改善<br/></strong></span>由於修正模擬故零件檔沿用<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/MEm09oC4-Go" width="400"></iframe></p>
<p><span>日期:2021/04/15   新增內容:新增可觀測鏡頭<br/>模擬檔:<a href="/downloads/第二次.zip">堆高機單鏡頭版.zip</a><br/><img alt="" height="300" src="/images/Stacker-1.gif" width="400"/><br/></span></p>
<p><span>日期:2021/04/15   新增內容:雙螢幕<br/>模擬檔:<a href="/downloads/第三次.zip">堆高機雙螢幕版.zip</a><br/><img alt="" height="300" src="/images/Stacker-2.gif" width="400"/><br/></span></p>
<p><span>日期:2021/04/16  <strong>新增內容</strong>:新增可愛假人模擬乘坐<br/><img alt="" height="300" src="/images/2021-04-14_22-32-58.gif" width="400"/><br/></span></p>
<p><span>日期:2021/04/16   新增內容:可操控移動方向<br/>程式模擬檔:<a href="/downloads/可操控.zip">堆高機可操控版.zip</a><br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/9jSL6wyWIbM" width="400"></iframe><br/></span></p>
<p><span>日期:2021/04/16   <br/>模擬檔案:<a href="/downloads/統整.zip">統整ttt檔.zip</a><br/><img alt="" height="300" src="/images/2021-04-16_22-06-43.gif" width="400"/><br/><br/></span></p>
<p><strong>日期:2021/04/22   最終版        修正內容:改由雙滑軌及齒輪驅動，作動更加平穩。<br/>零件檔:<a href="/downloads/最終版.zip">堆高機最終版零件檔.zip</a><br/></strong><span><strong>模擬檔案:<a href="/downloads/最終版ttt檔.zip">堆高機最終版ttt檔.zip</a> </strong>  <br/><img alt="" height="300" src="/images/2021-04-22_18-55-25.gif" width="400"/><br/></span></p>
<p></p>
<h2>W9 小組成果</h2>
<p><strong>小組期中報告整合</strong></p>
<p><strong>日期:2021/04/22   最終版        修正內容:改由雙滑軌及齒輪驅動，作動更加平穩。<br/>零件檔:<a href="/downloads/最終版.zip">堆高機最終版零件檔.zip</a><br/><span><strong>模擬檔案:<a href="/downloads/最終版ttt檔.zip">堆高機最終版ttt檔.zip</a> </strong><span> </span> <br/><img alt="" height="300" src="/images/2021-04-22_18-55-25.gif" width="500"/></span></strong><strong><br/>1.PDF</strong></p>
<p><iframe height="550" src="https://drive.google.com/file/d/155NzbBy8JOcuIi4EdNu0ZAJY_qmTAKKp/preview?usp=sharing" width="1000"></iframe></p>
<p><strong>2.Heroku<br/><a href="https://s40823251.herokuapp.com/">https://s40823251.herokuapp.com/</a><br/></strong></p>
<p><strong>3.reveal<br/><a href="https://40823251.github.io/stage2-bg1/reveal/index.html">https://40823251.github.io/stage2-bg1/reveal/index.html</a><br/></strong></p>
<p><strong>第九週課程報告影片:<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/6c_geSx4c0w" width="400"></iframe><br/></strong></p>
<h2>W10 小組task1</h2>
<p>測試人員:40823245</p>
<p><a href="https://40823245.github.io/cd2021/downloads/stage3/stage3_2b.txt">stage3-2b.txt</a></p>
<h4>使用程式跑出stage3的小組、組長、組員超連結，我參考老師的程式修改後成功執行，但過程有遇到很多問題，就上網找資料和查程式語法，下面2張圖簡單講大概意思，網路上找到的都很清楚(下面附參考網址)。</h4>
<p><img alt="" height="500" src="https://40823245.github.io/cd2021/images/task1.png" width="300"/></p>
<p><img alt="" height="400" src="https://40823245.github.io/cd2021/images/task1-1.png" width="600"/></p>
<h4>程式碼</h4>
<div>
<div class="syntaxhighlighter html" id="highlighter_219463">
<table border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td class="gutter">
<div class="line number1 index0 alt2">1</div>
<div class="line number2 index1 alt1">2</div>
<div class="line number3 index2 alt2">3</div>
<div class="line number4 index3 alt1">4</div>
<div class="line number5 index4 alt2">5</div>
<div class="line number6 index5 alt1">6</div>
<div class="line number7 index6 alt2">7</div>
<div class="line number8 index7 alt1">8</div>
<div class="line number9 index8 alt2">9</div>
<div class="line number10 index9 alt1">10</div>
<div class="line number11 index10 alt2">11</div>
<div class="line number12 index11 alt1">12</div>
<div class="line number13 index12 alt2">13</div>
<div class="line number14 index13 alt1">14</div>
<div class="line number15 index14 alt2">15</div>
<div class="line number16 index15 alt1">16</div>
<div class="line number17 index16 alt2">17</div>
<div class="line number18 index17 alt1">18</div>
<div class="line number19 index18 alt2">19</div>
<div class="line number20 index19 alt1">20</div>
<div class="line number21 index20 alt2">21</div>
<div class="line number22 index21 alt1">22</div>
<div class="line number23 index22 alt2">23</div>
<div class="line number24 index23 alt1">24</div>
<div class="line number25 index24 alt2">25</div>
<div class="line number26 index25 alt1">26</div>
<div class="line number27 index26 alt2">27</div>
<div class="line number28 index27 alt1">28</div>
<div class="line number29 index28 alt2">29</div>
<div class="line number30 index29 alt1">30</div>
<div class="line number31 index30 alt2">31</div>
<div class="line number32 index31 alt1">32</div>
<div class="line number33 index32 alt2">33</div>
<div class="line number34 index33 alt1">34</div>
<div class="line number35 index34 alt2">35</div>
<div class="line number36 index35 alt1">36</div>
<div class="line number37 index36 alt2">37</div>
<div class="line number38 index37 alt1">38</div>
<div class="line number39 index38 alt2">39</div>
<div class="line number40 index39 alt1">40</div>
<div class="line number41 index40 alt2">41</div>
<div class="line number42 index41 alt1">42</div>
<div class="line number43 index42 alt2">43</div>
<div class="line number44 index43 alt1">44</div>
<div class="line number45 index44 alt2">45</div>
<div class="line number46 index45 alt1">46</div>
<div class="line number47 index46 alt2">47</div>
<div class="line number48 index47 alt1">48</div>
<div class="line number49 index48 alt2">49</div>
<div class="line number50 index49 alt1">50</div>
<div class="line number51 index50 alt2">51</div>
<div class="line number52 index51 alt1">52</div>
<div class="line number53 index52 alt2">53</div>
<div class="line number54 index53 alt1">54</div>
<div class="line number55 index54 alt2">55</div>
<div class="line number56 index55 alt1">56</div>
<div class="line number57 index56 alt2">57</div>
<div class="line number58 index57 alt1">58</div>
<div class="line number59 index58 alt2">59</div>
<div class="line number60 index59 alt1">60</div>
<div class="line number61 index60 alt2">61</div>
<div class="line number62 index61 alt1">62</div>
<div class="line number63 index62 alt2">63</div>
<div class="line number64 index63 alt1">64</div>
<div class="line number65 index64 alt2">65</div>
<div class="line number66 index65 alt1">66</div>
<div class="line number67 index66 alt2">67</div>
<div class="line number68 index67 alt1">68</div>
<div class="line number69 index68 alt2">69</div>
<div class="line number70 index69 alt1">70</div>
<div class="line number71 index70 alt2">71</div>
<div class="line number72 index71 alt1">72</div>
<div class="line number73 index72 alt2">73</div>
<div class="line number74 index73 alt1">74</div>
<div class="line number75 index74 alt2">75</div>
<div class="line number76 index75 alt1">76</div>
<div class="line number77 index76 alt2">77</div>
<div class="line number78 index77 alt1">78</div>
<div class="line number79 index78 alt2">79</div>
<div class="line number80 index79 alt1">80</div>
<div class="line number81 index80 alt2">81</div>
</td>
<td class="code">
<div class="container">
<div class="line number1 index0 alt2"><code class="html plain">def stu2b(account):</code></div>
<div class="line number2 index1 alt1"><code class="html spaces">    </code><code class="html plain">if account == "40823231":</code></div>
<div class="line number3 index2 alt2"><code class="html spaces">        </code><code class="html plain">return account + "-2"</code></div>
<div class="line number4 index3 alt1"><code class="html spaces">    </code><code class="html plain">elif account[0:3] == "407":</code></div>
<div class="line number5 index4 alt2"><code class="html spaces">        </code><code class="html plain">return "s" + account</code></div>
<div class="line number6 index5 alt1"><code class="html spaces">    </code><code class="html plain">else:</code></div>
<div class="line number7 index6 alt2"><code class="html spaces">        </code><code class="html plain">return account</code></div>
<div class="line number8 index7 alt1"> </div>
<div class="line number9 index8 alt2"><code class="html plain">teamb = []</code></div>
<div class="line number10 index9 alt1"> </div>
<div class="line number11 index10 alt2"><code class="html plain"># open file, default is read mode, since txt content no chinese char</code></div>
<div class="line number12 index11 alt1"><code class="html plain"># no encoding = "UTF-8" is needed</code></div>
<div class="line number13 index12 alt2"><code class="html plain">with open("stage3_2b.txt") as fh:</code></div>
<div class="line number14 index13 alt1"><code class="html spaces">    </code><code class="html plain"># readlines will read into the whole line and put into list format</code></div>
<div class="line number15 index14 alt2"><code class="html spaces">    </code><code class="html plain"># has \n at the end of each line</code></div>
<div class="line number16 index15 alt1"><code class="html spaces">    </code><code class="html plain">data = fh.readlines()</code></div>
<div class="line number17 index16 alt2"><code class="html plain">#print(len(data))</code></div>
<div class="line number18 index17 alt1"><code class="html plain">for i in range(len(data)):</code></div>
<div class="line number19 index18 alt2"><code class="html spaces">    </code><code class="html plain">group = data[i].rstrip("\n").split("\t")</code></div>
<div class="line number20 index19 alt1"><code class="html spaces">    </code><code class="html plain">teamb.append(group)</code></div>
<div class="line number21 index20 alt2"><code class="html spaces">    </code> </div>
<div class="line number22 index21 alt1"><code class="html plain">output = ""    </code></div>
<div class="line number23 index22 alt2"><code class="html plain">seperator = "-"*10 + "&lt;</code><code class="html keyword">br</code> <code class="html plain">/&gt;"</code></div>
<div class="line number24 index23 alt1"> </div>
<div class="line number25 index24 alt2"><code class="html plain">for i in teamb[0:]:</code></div>
<div class="line number26 index25 alt1"><code class="html spaces">    </code><code class="html plain">team = i[0]</code></div>
<div class="line number27 index26 alt2"><code class="html spaces">    </code><code class="html plain">leader = stu2b(i[1])</code></div>
<div class="line number28 index27 alt1"><code class="html spaces">    </code><code class="html plain">m1 = stu2b(i[3])</code></div>
<div class="line number29 index28 alt2"><code class="html spaces">    </code><code class="html plain">m2 = stu2b(i[5])</code></div>
<div class="line number30 index29 alt1"><code class="html spaces">    </code><code class="html plain">m3 = stu2b(i[7])</code></div>
<div class="line number31 index30 alt2"><code class="html spaces">    </code><code class="html plain">m4 = stu2b(i[9])</code></div>
<div class="line number32 index31 alt1"><code class="html spaces">    </code><code class="html plain">m5 = stu2b(i[11])</code></div>
<div class="line number33 index32 alt2"><code class="html spaces">    </code><code class="html plain">m6 = stu2b(i[13])</code></div>
<div class="line number34 index33 alt1"><code class="html spaces">    </code> </div>
<div class="line number35 index34 alt2"><code class="html spaces">    </code><code class="html plain">try:</code></div>
<div class="line number36 index35 alt1"><code class="html spaces">        </code><code class="html plain">m7 = stu2b(i[15])</code></div>
<div class="line number37 index36 alt2"><code class="html spaces">    </code><code class="html plain">except:</code></div>
<div class="line number38 index37 alt1"><code class="html spaces">        </code><code class="html plain">m7 = ""</code></div>
<div class="line number39 index38 alt2"><code class="html spaces">    </code><code class="html plain">try:</code></div>
<div class="line number40 index39 alt1"><code class="html spaces">        </code><code class="html plain">m8 = stu2b(i[17])</code></div>
<div class="line number41 index40 alt2"><code class="html spaces">    </code><code class="html plain">except:</code></div>
<div class="line number42 index41 alt1"><code class="html spaces">        </code><code class="html plain">m8 = ""</code></div>
<div class="line number43 index42 alt2"><code class="html spaces">        </code> </div>
<div class="line number44 index43 alt1"><code class="html spaces">    </code><code class="html plain">leaderrepo = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://github.com/" + leader + "/cd2021'</code><code class="html plain">&gt;" + leader + " repo&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number45 index44 alt2"><code class="html spaces">    </code><code class="html plain">leadersite = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://" + leader + ".github.io/cd2021'</code><code class="html plain">&gt;" + leader +  " site&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number46 index45 alt1"><code class="html spaces">    </code><code class="html plain">m1repo = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://github.com/" + m1 + "/cd2021'</code><code class="html plain">&gt;" + m1 + " repo&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number47 index46 alt2"><code class="html spaces">    </code><code class="html plain">m1site = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://" + m1 + ".github.io/cd2021'</code><code class="html plain">&gt;" + m1 +  " site&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number48 index47 alt1"><code class="html spaces">    </code><code class="html plain">m2repo = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://github.com/" + m2 + "/cd2021'</code><code class="html plain">&gt;" + m2 + " repo&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number49 index48 alt2"><code class="html spaces">    </code><code class="html plain">m2site = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://" + m2 + ".github.io/cd2021'</code><code class="html plain">&gt;" + m2 +  " site&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number50 index49 alt1"><code class="html spaces">    </code><code class="html plain">m3repo = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://github.com/" + m3 + "/cd2021'</code><code class="html plain">&gt;" + m3 + " repo&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number51 index50 alt2"><code class="html spaces">    </code><code class="html plain">m3site = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://" + m3 + ".github.io/cd2021'</code><code class="html plain">&gt;" + m3 +  " site&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number52 index51 alt1"><code class="html spaces">    </code><code class="html plain">m4repo = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://github.com/" + m4 + "/cd2021'</code><code class="html plain">&gt;" + m4 + " repo&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number53 index52 alt2"><code class="html spaces">    </code><code class="html plain">m4site = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://" + m4 + ".github.io/cd2021'</code><code class="html plain">&gt;" + m4 +  " site&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number54 index53 alt1"><code class="html spaces">    </code><code class="html plain">m5repo = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://github.com/" + m5 + "/cd2021'</code><code class="html plain">&gt;" + m5 + " repo&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number55 index54 alt2"><code class="html spaces">    </code><code class="html plain">m5site = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://" + m5 + ".github.io/cd2021'</code><code class="html plain">&gt;" + m5 +  " site&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number56 index55 alt1"><code class="html spaces">    </code><code class="html plain">m6repo = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://github.com/" + m6 + "/cd2021'</code><code class="html plain">&gt;" + m6 + " repo&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number57 index56 alt2"><code class="html spaces">    </code><code class="html plain">m6site = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://" + m6 + ".github.io/cd2021'</code><code class="html plain">&gt;" + m6 +  " site&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number58 index57 alt1"><code class="html spaces"> </code> </div>
<div class="line number59 index58 alt2"> </div>
<div class="line number60 index59 alt1"><code class="html spaces">    </code><code class="html plain">teamrepo = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://github.com/" + leader + "/" + team + "'</code><code class="html plain">&gt;" + team + " repo&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number61 index60 alt2"><code class="html spaces">    </code><code class="html plain">teamsite =  "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://" + m1 + ".github.io/" + team + "'</code><code class="html plain">&gt;" + team +  " site&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number62 index61 alt1"> </div>
<div class="line number63 index62 alt2"><code class="html spaces">    </code><code class="html plain">output += teamrepo + " | " + teamsite + " | " +leaderrepo + " | " + leadersite + " | " +m1repo + " | " + m1site + " | " +m2repo + " | " + m2site + " | " +m3repo + " | " + m3site + " | " +m4repo + " | " + m4site + " | " +m5repo + " | " + m5site + " | " +m6repo + " | " + m6site </code></div>
<div class="line number64 index63 alt1"><code class="html spaces">    </code> </div>
<div class="line number65 index64 alt2"><code class="html spaces">    </code><code class="html plain">if m7 != "":</code></div>
<div class="line number66 index65 alt1"><code class="html spaces">       </code><code class="html plain">m7repo = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://github.com/" + m7 + "/cd2021'</code><code class="html plain">&gt;" + m7 + " repo&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number67 index66 alt2"><code class="html spaces">       </code><code class="html plain">m7site = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://" + m7 + ".github.io/cd2021'</code><code class="html plain">&gt;" + m7 +  " site&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"   </code></div>
<div class="line number68 index67 alt1"><code class="html spaces">       </code><code class="html plain">output += " |  " + m7repo + "| " + m7site</code></div>
<div class="line number69 index68 alt2"><code class="html spaces">    </code><code class="html plain">else:</code></div>
<div class="line number70 index69 alt1"><code class="html spaces">        </code><code class="html plain">output += "" </code></div>
<div class="line number71 index70 alt2"><code class="html spaces">    </code> </div>
<div class="line number72 index71 alt1"><code class="html spaces">    </code><code class="html plain">if m8 != "":</code></div>
<div class="line number73 index72 alt2"><code class="html spaces">       </code><code class="html plain">m8repo = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://github.com/" + m8 + "/cd2021'</code><code class="html plain">&gt;" + m8 + " repo&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"</code></div>
<div class="line number74 index73 alt1"><code class="html spaces">       </code><code class="html plain">m8site = "&lt;</code><code class="html keyword">a</code> <code class="html color1">href</code><code class="html plain">=</code><code class="html string">'http://" + m8 + ".github.io/cd2021'</code><code class="html plain">&gt;" + m8 +  " site&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;"   </code></div>
<div class="line number75 index74 alt2"><code class="html spaces">       </code><code class="html plain">output += " |  " + m8repo + "| " + m8site + "&lt;</code><code class="html keyword">br</code> <code class="html plain">/&gt;" + seperator</code></div>
<div class="line number76 index75 alt1"><code class="html spaces">    </code><code class="html plain">else:</code></div>
<div class="line number77 index76 alt2"><code class="html spaces">        </code><code class="html plain">output += "&lt;</code><code class="html keyword">br</code> <code class="html plain">/&gt;" + seperator</code></div>
<div class="line number78 index77 alt1"> </div>
<div class="line number79 index78 alt2"> </div>
<div class="line number80 index79 alt1"><code class="html plain">print(output)</code></div>
<div class="line number81 index80 alt2"><code class="html plain"># the following will use group data to generate needed html</code></div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<h4>參考資料</h4>
<h4><a href="https://june.monster/python-101-operators-and-priority/">運算符號</a>、<a href="https://www.runoob.com/python/python-operators.html">運算符號-1</a>、<a href="https://codertw.com/%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80/364743/">讀檔</a>、<a href="https://pythonnote.wordpress.com/2014/04/03/python%E6%8A%80%E5%B7%A7%E6%BC%82%E4%BA%AE%E5%8F%88%E9%80%9A%E9%A0%86%E7%9A%84%E7%A8%8B%E5%BC%8F%E7%A2%BC/">for迴圈</a>、<a href="https://medium.com/ccclub/ccclub-python-for-beginners-tutorial-4990a5757aa6">for迴圈(範圍)</a>、<a href="https://www.runoob.com/python/python-lists.html">列表</a>、<a href="https://blog.csdn.net/csdn15698845876/article/details/73469234">切割字串</a>、<a href="https://ithelp.ithome.com.tw/articles/10231653">異常處理</a></h4>
<h4>遇到問題</h4>
<h4>列表超出範圍(list index out of range)，當時一直以為是沒有定義特殊情況，但之後發現是最後沒有設定好7、8、9人的特殊情況。</h4>
<h4>跑程式的影片</h4>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" data-mce-fragment="1" frameborder="0" height="315" src="https://www.youtube.com/embed/eAf-Pi5OgB0" title="YouTube video player" width="560"></iframe></p>
<h4>把白窗裡的輸出複製放入網頁</h4>
<h4>結果如下</h4>
<p><a href="http://github.com/40823245/stage3-bg1">stage3-bg1 repo</a><span> </span>|<span> </span><a href="http://40823251.github.io/stage3-bg1">stage3-bg1 site</a><span> </span>|<span> </span><a href="http://github.com/40823245/cd2021">40823245 repo</a><span> </span>|<span> </span><a href="http://40823245.github.io/cd2021">40823245 site</a><span> </span>|<span> </span><a href="http://github.com/40823251/cd2021">40823251 repo</a><span> </span>|<span> </span><a href="http://40823251.github.io/cd2021">40823251 site</a><span> </span>|<span> </span><a href="http://github.com/40823208/cd2021">40823208 repo</a><span> </span>|<span> </span><a href="http://40823208.github.io/cd2021">40823208 site</a><span> </span>|<span> </span><a href="http://github.com/40823213/cd2021">40823213 repo</a><span> </span>|<span> </span><a href="http://40823213.github.io/cd2021">40823213 site</a><span> </span>|<span> </span><a href="http://github.com/40823232/cd2021">40823232 repo</a><span> </span>|<span> </span><a href="http://40823232.github.io/cd2021">40823232 site</a><span> </span>|<span> </span><a href="http://github.com/40823234/cd2021">40823234 repo</a><span> </span>|<span> </span><a href="http://40823234.github.io/cd2021">40823234 site</a><span> </span>|<span> </span><a href="http://github.com/40823235/cd2021">40823235 repo</a><span> </span>|<span> </span><a href="http://40823235.github.io/cd2021">40823235 site</a><span> </span>|<span> </span><a href="http://github.com/40823246/cd2021">40823246 repo</a>|<span> </span><a href="http://40823246.github.io/cd2021">40823246 site</a><br/>----------<br/><a href="http://github.com/40823217/stage3-bg2">stage3-bg2 repo</a><span> </span>|<span> </span><a href="http://40823201.github.io/stage3-bg2">stage3-bg2 site</a><span> </span>|<span> </span><a href="http://github.com/40823217/cd2021">40823217 repo</a><span> </span>|<span> </span><a href="http://40823217.github.io/cd2021">40823217 site</a><span> </span>|<span> </span><a href="http://github.com/40823201/cd2021">40823201 repo</a><span> </span>|<span> </span><a href="http://40823201.github.io/cd2021">40823201 site</a><span> </span>|<span> </span><a href="http://github.com/40823209/cd2021">40823209 repo</a><span> </span>|<span> </span><a href="http://40823209.github.io/cd2021">40823209 site</a><span> </span>|<span> </span><a href="http://github.com/40823210/cd2021">40823210 repo</a><span> </span>|<span> </span><a href="http://40823210.github.io/cd2021">40823210 site</a><span> </span>|<span> </span><a href="http://github.com/40823206/cd2021">40823206 repo</a><span> </span>|<span> </span><a href="http://40823206.github.io/cd2021">40823206 site</a><span> </span>|<span> </span><a href="http://github.com/40823207/cd2021">40823207 repo</a><span> </span>|<span> </span><a href="http://40823207.github.io/cd2021">40823207 site</a><span> </span>|<span> </span><a href="http://github.com/40823223/cd2021">40823223 repo</a><span> </span>|<span> </span><a href="http://40823223.github.io/cd2021">40823223 site</a><span> </span>|<span> </span><a href="http://github.com/40823224/cd2021">40823224 repo</a>|<span> </span><a href="http://40823224.github.io/cd2021">40823224 site</a><br/>----------<br/><a href="http://github.com/40823236/stage3-bg3">stage3-bg3 repo</a><span> </span>|<span> </span><a href="http://40823202.github.io/stage3-bg3">stage3-bg3 site</a><span> </span>|<span> </span><a href="http://github.com/40823236/cd2021">40823236 repo</a><span> </span>|<span> </span><a href="http://40823236.github.io/cd2021">40823236 site</a><span> </span>|<span> </span><a href="http://github.com/40823202/cd2021">40823202 repo</a><span> </span>|<span> </span><a href="http://40823202.github.io/cd2021">40823202 site</a><span> </span>|<span> </span><a href="http://github.com/40823203/cd2021">40823203 repo</a><span> </span>|<span> </span><a href="http://40823203.github.io/cd2021">40823203 site</a><span> </span>|<span> </span><a href="http://github.com/40823212/cd2021">40823212 repo</a><span> </span>|<span> </span><a href="http://40823212.github.io/cd2021">40823212 site</a><span> </span>|<span> </span><a href="http://github.com/40823219/cd2021">40823219 repo</a><span> </span>|<span> </span><a href="http://40823219.github.io/cd2021">40823219 site</a><span> </span>|<span> </span><a href="http://github.com/40823222/cd2021">40823222 repo</a><span> </span>|<span> </span><a href="http://40823222.github.io/cd2021">40823222 site</a><span> </span>|<span> </span><a href="http://github.com/40823231-2/cd2021">40823231-2 repo</a><span> </span>|<span> </span><a href="http://40823231-2.github.io/cd2021">40823231-2 site</a><span> </span>|<span> </span><a href="http://github.com/40823244/cd2021">40823244 repo</a>|<span> </span><a href="http://40823244.github.io/cd2021">40823244 site</a><br/>----------<br/><a href="http://github.com/40823239/stage3-bg4">stage3-bg4 repo</a><span> </span>|<span> </span><a href="http://s40723140.github.io/stage3-bg4">stage3-bg4 site</a><span> </span>|<span> </span><a href="http://github.com/40823239/cd2021">40823239 repo</a><span> </span>|<span> </span><a href="http://40823239.github.io/cd2021">40823239 site</a><span> </span>|<span> </span><a href="http://github.com/s40723140/cd2021">s40723140 repo</a><span> </span>|<span> </span><a href="http://s40723140.github.io/cd2021">s40723140 site</a><span> </span>|<span> </span><a href="http://github.com/s40723128/cd2021">s40723128 repo</a><span> </span>|<span> </span><a href="http://s40723128.github.io/cd2021">s40723128 site</a><span> </span>|<span> </span><a href="http://github.com/s40723139/cd2021">s40723139 repo</a><span> </span>|<span> </span><a href="http://s40723139.github.io/cd2021">s40723139 site</a><span> </span>|<span> </span><a href="http://github.com/s40723106/cd2021">s40723106 repo</a><span> </span>|<span> </span><a href="http://s40723106.github.io/cd2021">s40723106 site</a><span> </span>|<span> </span><a href="http://github.com/s40723135/cd2021">s40723135 repo</a><span> </span>|<span> </span><a href="http://s40723135.github.io/cd2021">s40723135 site</a><span> </span>|<span> </span><a href="http://github.com/s40723143/cd2021">s40723143 repo</a><span> </span>|<span> </span><a href="http://s40723143.github.io/cd2021">s40723143 site</a><span> </span>|<span> </span><a href="http://github.com/s40723215/cd2021">s40723215 repo</a>|<span> </span><a href="http://s40723215.github.io/cd2021">s40723215 site</a><br/>----------<br/><a href="http://github.com/40823221/stage3-bg5">stage3-bg5 repo</a><span> </span>|<span> </span><a href="http://40823204.github.io/stage3-bg5">stage3-bg5 site</a><span> </span>|<span> </span><a href="http://github.com/40823221/cd2021">40823221 repo</a><span> </span>|<span> </span><a href="http://40823221.github.io/cd2021">40823221 site</a><span> </span>|<span> </span><a href="http://github.com/40823204/cd2021">40823204 repo</a><span> </span>|<span> </span><a href="http://40823204.github.io/cd2021">40823204 site</a><span> </span>|<span> </span><a href="http://github.com/40823205/cd2021">40823205 repo</a><span> </span>|<span> </span><a href="http://40823205.github.io/cd2021">40823205 site</a><span> </span>|<span> </span><a href="http://github.com/40823220/cd2021">40823220 repo</a><span> </span>|<span> </span><a href="http://40823220.github.io/cd2021">40823220 site</a><span> </span>|<span> </span><a href="http://github.com/40823228/cd2021">40823228 repo</a><span> </span>|<span> </span><a href="http://40823228.github.io/cd2021">40823228 site</a><span> </span>|<span> </span><a href="http://github.com/40823237/cd2021">40823237 repo</a><span> </span>|<span> </span><a href="http://40823237.github.io/cd2021">40823237 site</a><span> </span>|<span> </span><a href="http://github.com/40823242/cd2021">40823242 repo</a><span> </span>|<span> </span><a href="http://40823242.github.io/cd2021">40823242 site</a><span> </span>|<span> </span><a href="http://github.com/40823250/cd2021">40823250 repo</a>|<span> </span><a href="http://40823250.github.io/cd2021">40823250 site</a><span> </span>|<span> </span><a href="http://github.com/40832244/cd2021">40832244 repo</a>|<span> </span><a href="http://40832244.github.io/cd2021">40832244 site</a><br/>----------<br/><a href="http://github.com/40823225/stage3-bg6">stage3-bg6 repo</a><span> </span>|<span> </span><a href="http://40823214.github.io/stage3-bg6">stage3-bg6 site</a><span> </span>|<span> </span><a href="http://github.com/40823225/cd2021">40823225 repo</a><span> </span>|<span> </span><a href="http://40823225.github.io/cd2021">40823225 site</a><span> </span>|<span> </span><a href="http://github.com/40823214/cd2021">40823214 repo</a><span> </span>|<span> </span><a href="http://40823214.github.io/cd2021">40823214 site</a><span> </span>|<span> </span><a href="http://github.com/40823218/cd2021">40823218 repo</a><span> </span>|<span> </span><a href="http://40823218.github.io/cd2021">40823218 site</a><span> </span>|<span> </span><a href="http://github.com/40823211/cd2021">40823211 repo</a><span> </span>|<span> </span><a href="http://40823211.github.io/cd2021">40823211 site</a><span> </span>|<span> </span><a href="http://github.com/40823248/cd2021">40823248 repo</a><span> </span>|<span> </span><a href="http://40823248.github.io/cd2021">40823248 site</a><span> </span>|<span> </span><a href="http://github.com/40823247/cd2021">40823247 repo</a><span> </span>|<span> </span><a href="http://40823247.github.io/cd2021">40823247 site</a><span> </span>|<span> </span><a href="http://github.com/40823216/cd2021">40823216 repo</a><span> </span>|<span> </span><a href="http://40823216.github.io/cd2021">40823216 site</a><span> </span>|<span> </span><a href="http://github.com/40823238/cd2021">40823238 repo</a>|<span> </span><a href="http://40823238.github.io/cd2021">40823238 site</a><br/>----------<br/><a href="http://github.com/40623144/stage3-bg7">stage3-bg7 repo</a><span> </span>|<span> </span><a href="http://40823233.github.io/stage3-bg7">stage3-bg7 site</a><span> </span>|<span> </span><a href="http://github.com/40623144/cd2021">40623144 repo</a><span> </span>|<span> </span><a href="http://40623144.github.io/cd2021">40623144 site</a><span> </span>|<span> </span><a href="http://github.com/40823233/cd2021">40823233 repo</a><span> </span>|<span> </span><a href="http://40823233.github.io/cd2021">40823233 site</a><span> </span>|<span> </span><a href="http://github.com/s40723224/cd2021">s40723224 repo</a><span> </span>|<span> </span><a href="http://s40723224.github.io/cd2021">s40723224 site</a><span> </span>|<span> </span><a href="http://github.com/40823241/cd2021">40823241 repo</a><span> </span>|<span> </span><a href="http://40823241.github.io/cd2021">40823241 site</a><span> </span>|<span> </span><a href="http://github.com/40423155/cd2021">40423155 repo</a><span> </span>|<span> </span><a href="http://40423155.github.io/cd2021">40423155 site</a><span> </span>|<span> </span><a href="http://github.com/40823227/cd2021">40823227 repo</a><span> </span>|<span> </span><a href="http://40823227.github.io/cd2021">40823227 site</a><span> </span>|<span> </span><a href="http://github.com/s40723233/cd2021">s40723233 repo</a><span> </span>|<span> </span><a href="http://s40723233.github.io/cd2021">s40723233 site</a><br/>----------</p>
<h2>W11 上課直播</h2>
<p><strong>日期:2021/05/07<br/></strong></p>
<p><strong>課程一:<br/><iframe allowfullscreen="allowfullscreen" data-mce-fragment="1" height="300" src="https://www.youtube.com/embed/yEfYtkTvw-Q" width="400"></iframe><br/>課程二:<br/><iframe allowfullscreen="allowfullscreen" data-mce-fragment="1" height="300" src="https://www.youtube.com/embed/Dxkn_nVT4F8" width="400"></iframe></strong></p>
<h2>W12 小組直播</h2>
<p><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/PCDypBPIAkA" width="400"></iframe></p>
<p><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/tY4AV3i3Ano" width="400"></iframe></p><h2>W13 w13、w14直播討論</h2>
<p><strong>線上討論  日期:2021/05/21</strong></p>
<p><strong><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/XYh2GjPH3Rg" width="400"></iframe></strong></p>
<p><strong></strong></p>
<p><strong><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/GJ1GiBV8N48" width="400"></iframe></strong></p><h1>Task2測試區</h1>
<p>統整各組task2測試的進度位置</p><h2>掃地機器人</h2>
<p><strong>掃地機器人</strong></p>
<p><strong>測試組員:40823245</strong></p>
<p><strong>第一版     日期:2021/05/05<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/QHVSKg0OuRg" width="400"></iframe><br/>說明:先利用簡單的機構去測試是否遷入成功及程式是否可執行。</strong></p>
<p><strong>第二版<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/uOUmFJpRCbM" width="400"></iframe><br/>注意:本次影片測試速度設定為0故在原地不動。<br/>問題:出現不正常運動軌跡、異常抖動情況。</strong></p>
<p><strong>第三版     日期:2021/05/06<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/pa2Ds_MFtNs" width="400"></iframe><br/>說明:將原本機構簡化判斷是否為機構圖之問題。<br/></strong></p>
<p><strong>第四版     日期:2021/05/11<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/ulmiefIWx1g" width="400"></iframe><br/>說明:用api頁面操作。</strong></p>
<p><strong>第五版<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/tqAHMwMcrDQ" width="400"></iframe><br/>說明:新增x-y時間位置圖。</strong></p>
<h2>分球機</h2>
<p><strong>測試人員:40823208     2021/05/04 </strong></p>
<p><strong>第一版</strong></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" data-mce-fragment="1" frameborder="0" height="315" src="https://www.youtube.com/embed/uPxCMuzhyxU" title="YouTube video player" width="560"></iframe></p>
<h2>堆高機</h2>
<p><strong>第一版     2021/05/04</strong></p>
<p><strong>測試組員:40823246<br/><img alt="" height="400" src="/images/remoto api 連動成功.gif" width="710"/><br/></strong></p>
<p><strong>說明:成功將圖檔遷入。</strong></p>
<h2>夾爪機構</h2>
<p><strong>測試人員:40823234     日期:2021/05/05</strong></p>
<p><strong> 第一版</strong></p>
<p><strong><iframe allowfullscreen="allowfullscreen" data-mce-fragment="1" height="300" src="https://www.youtube.com/embed/_oqcnraep2s" width="500"></iframe></strong></p>
<h1>筆記</h1>
<p>平時上課遇到的問題或重點，將其統整後產生解決問題的能力。</p>
<h2>SSH</h2>
<p><strong>新增ssh<br/>1.前置作業:運用sh.exe創好金鑰</strong></p>
<p><strong>2.到.git資料夾中config更改資料</strong></p>
<p><img alt="" height="500" src="/images/1614575118917.jpg" width="400"/><br/><strong>3.使用putty找到金鑰</strong><br/><img alt="" height="300" src="/images/1614574999191.jpg" width="400"/><br/><strong>4.檢查位置是否正確</strong><br/><img alt="" height="300" src="/images/1614574959331.jpg" width="400"/><br/><strong>5.點選open看看是否出現綠框</strong><br/><img alt="" height="300" src="/images/1614575207875.jpg" width="400"/></p>
<h2>分組程式</h2>
<p><strong>需利用程式編輯本般亂數分組之情況</strong></p>
<p><strong>程式重點:</strong>尚未完成</p>
<p>參考來源:<a href="http://mde.tw/cd2021/content/Stage1.html">http://mde.tw/cd2021/content/Stage1.html</a></p>
<h2>cmsimde改版</h2>
<p><strong>目的:能更快的git push 、無須打python wsgi.py</strong></p>
<p><strong>1.到老師倉儲下的cmsimde下載此檔案</strong></p>
<p><strong><img alt="" height="300" src="/images/1615549520164.jpg" width="400"/></strong></p>
<p><strong>2.將此倉儲的cmsimde下的此五個檔案複製至自己cd2021下的cmsimde(取代)</strong></p>
<p><strong><img alt="" height="300" src="/images/1615549431610.jpg" width="400"/></strong></p>
<p><strong>3.再退回cd2021重複上述步驟</strong></p>
<p><strong><img alt="" height="300" src="/images/1615549476207.jpg" width="400"/></strong></p>
<p><strong>5.完成後即可打cms / acp</strong></p>
<h2>小組倉儲問題</h2>
<p><strong>問題發生時間:2021/02/12 上課時</strong></p>
<p><strong>發生問題原因:<br/></strong>本人為bg1之小組組員，平時維護小組網頁時都是先git push 再到倉儲中做Pull requests的動作請組長合併內容，直到今日發生了合併產生衝突。</p>
<p><strong>解決方法:<br/></strong>1.到自己github創一個空的資料夾<br/><img alt="" height="300" src="/images/1615551078574.jpg" width="500"/></p>
<p>2.到小黑窗執行<strong><br/>git clone --recurse-submodules 你們小組的網址</strong></p>
<p><strong>git remote add 資料夾名稱 個人創的github名稱.git</strong></p>
<p>3.到.git資料夾裡的config修改下方資訊<br/><img alt="" height="300" src="/images/1615551266495.jpg" width="500"/></p>
<p>4.在小黑窗中打git push 資料夾名稱</p>
<p>5.到github設定將此save<br/><img alt="" height="300" src="/images/1615551932019.jpg" width="500"/></p>
<p><strong></strong></p>
<h2>Heroku建立</h2>
<h4>1.登入<a href="https://dashboard.heroku.com/apps">heroku</a>辦帳號，以s+學號，建立第一個app(https://s學號.herokuapp.com)</h4>
<h4><span>2.載heroku，放置data裡<br/></span></h4>
<p><strong>3.打開start修改路徑(如圖)<br/><img alt="" height="500" src="/images/1618559307830.jpg" width="400"/><br/>4.在黑窗輸入heroku version確認是否有回應<br/><img alt="" height="150" src="/images/heroku-2.png" width="450"/><br/>5.使用小黑窗進到小組倉儲，輸入git ttps://git.heroku.com/s學號.git<br/>6.到config檢查<br/><img alt="" height="500" src="/images/1618559384149.jpg" width="400"/><br/>7.到黑窗輸入git push heroku<br/><img alt="" height="300" src="/images/heroku-4.png" width="400"/><br/>8.https://s學號.herokuapp.com確認是否有自己小組倉儲。</strong></p>
<h4></h4>
<h4></h4>
<h4><span></span><strong><br/><br/><br/><br/></strong></h4>
<h4></h4>
<h4></h4>
<h1>個人影片</h1>
<p><strong>第一週<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/OXSclfMP8e8" width="400"></iframe><br/><br/></strong></p>
<p><strong>第二週<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/4XFIdfoTkCs" width="400"></iframe><br/></strong></p>
<p><strong>第三週<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/glLu_7d9tKw" width="400"></iframe><br/></strong></p>
<p><strong>第四週<br/>1.如何使用cms 和 acp<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/6xfG5g0fZdw" width="400"></iframe><br/>2.如何解決小組推送衝突<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/RfGtSzul76c" width="400"></iframe><br/>報告影片<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/DR5yl4fpzio" width="400"></iframe><br/>上台報告影片<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/pBrGGNypya4" width="400"></iframe><br/></strong></p>
<p><strong>第五週<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/n9quvgd7Ucw" width="400"></iframe><br/></strong></p>
<p><strong>第六週<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/-_702yip-ag" width="400"></iframe><br/></strong></p>
<p><strong>第七週<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/857-NWTkilc" width="400"></iframe><br/></strong></p>
<p><strong>第八週<br/></strong><strong><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/9jSL6wyWIbM" width="400"></iframe></strong><strong></strong></p>
<p><strong>第九週</strong><strong><br/></strong></p>
<p><strong><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/6c_geSx4c0w" width="400"></iframe><br/></strong></p>
<p><strong>第十週</strong><strong><br/></strong></p>
<p>(1)ipv4<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/ZfsVqRFf2gI" width="400"></iframe><br/>(2)task1<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/6H4yrG4Wmuw" width="400"></iframe></p>
<p><strong>第十一週<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/Dxkn_nVT4F8" width="400"></iframe><br/></strong></p>
<p><strong>第十二週<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/tY4AV3i3Ano" width="400"></iframe><br/></strong></p>
<h1>上課直播區</h1>
<p><strong>日期:2021/05/07<br/></strong></p>
<p><strong>課程一:<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/yEfYtkTvw-Q" width="400"></iframe><br/>課程二:<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/Dxkn_nVT4F8" width="400"></iframe><br/></strong></p>
<p><strong>日期:2021/05/14<br/></strong></p>
<p><strong>課程一:<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/PCDypBPIAkA" width="400"></iframe><br/></strong><strong>課程二:</strong><br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/tY4AV3i3Ano" width="400"></iframe></p>
<p><strong>日期:2021/05/21<br/><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/XYh2GjPH3Rg" width="400"></iframe></strong></p>
<p><strong><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/GJ1GiBV8N48" width="400"></iframe></strong></p>
<h1>W5</h1>
<p><strong>(1)小組台報告影片</strong></p>
<p><iframe allowfullscreen="allowfullscreen" height="300" src="//www.youtube.com/embed/pBrGGNypya4" width="450"></iframe></p>
<p><strong>(2) 2B上台報告影片時間表單</strong></p>
<p><b>      過程於小組討論-W4小組報告-影片時間裡呈現</b></p>
<p><iframe height="500" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSnCZ-O6FcYSv1olDonEaqIJJ7RQ5Z2OcUJ1TcPbEEQmKZ7yTOk-0De6IKJhLmhjHfd_9-ZWgI-q9Z0/pubhtml?gid=0&amp;single=true" width="450"></iframe></p>
<p><img alt="" height="600" src="/images/1616686414572.jpg" width="450"/></p>